/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}

/* Sección de perfil */
.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-photo-container {
    margin-right: 20px;
    position: relative;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.default-photo {
    width: 120px;
    height: 120px;
    background-color: #ececec;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 14px;
    font-weight: 600;
}

.username-container h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
    font-weight: 600;
}

/* Botones */
.button-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Sección de configuraciones */
.settings-and-purchases {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.settings-section,
.purchases-section {
    width: 48%;
}

.settings-item {
    background-color: #fff;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.settings-item h2 {
    font-size: 20px;
    color: #444;
    margin-bottom: 20px;
    font-weight: 600;
}

.settings-item input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.settings-item input:focus {
    border-color: #007bff;
    background-color: #fff;
}

.settings-item button {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.settings-item button:hover {
    background-color: #218838;
}

.settings-item .file-input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9;
}

.settings-item .file-input:hover {
    background-color: #f1f1f1;
}

/* Cerrar sesión */
#logout-button {
    background-color: #e74c3c;
    border-radius: 8px;
    padding: 12px;
    color: white;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: #c0392b;
}

/* Sección de compras */
.purchases-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.purchases-section th,
.purchases-section td {
    padding: 15px;
    text-align: center; /* Alineación central */
    border-bottom: 1px solid #ddd;
    font-size: 16px; /* Tamaño de fuente más grande */
}

.purchases-section th {
    background-color: #f8f9fa;
    color: #007bff;
    font-weight: 600;
    text-transform: uppercase; /* Textos en mayúsculas */
}

.purchases-section td {
    color: #555;
}

.purchases-section td:first-child {
    font-weight: 600;
}

.purchases-section tr:last-child td {
    border-bottom: none; /* Eliminar borde en la última fila */
}

/* Agregar un borde más suave a la tabla */
.purchases-section tr:hover {
    background-color: #f1f1f1;
}

/* Reponsive Design */
@media screen and (max-width: 768px) {
    .settings-and-purchases {
        flex-direction: column;
        gap: 0;
    }

    .settings-section,
    .purchases-section {
        width: 100%;
    }
}
